@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    font-family: "Nunito sans", serif;
}
.main-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #070F2B;
}

/* HomeStart */
.home{
    height: 100vh;
    width: 100%;
    /* border: solid lavender; */
    background: linear-gradient(175deg, #070F2B, #1B1A55,#535C91);
}

.home .nav-bar{
    height: 80px;
    width: 100%;
    /* background-color: #1B1A55; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px #1B1A55;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #6e6e6e22;
    backdrop-filter: blur(3px);
}

.nav-bar .logo{
    height: 100%;
    width: 200px;
    /* border: 0.5px white solid; */
}

.nav-bar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 10px;
}

.nav-bar a:hover{
    background-color:rgb(225, 234, 241);
    color: #1B1A55;
    transition: all 0.2s ease-in-out;
}

.nav-bar a:last-child{
    background-color: #9290C3;
    box-shadow: 0px 0px 10px #535C91 inset;
}

/* .nav-bar a:nth-child(6):hover{
    background-color: aqua;
} */

.search{
    width: 500px;
    height: 50px;
    border: 0.5px rgb(0, 0, 0) solid;
    border-radius: 25px;
    display: flex;
    background-color:rgb(225, 234, 241);
    hr{
        transform: rotate(100);
        margin-left: 20px;
        background-color: #070F2B;
    }
    margin-top: 10px;
}

.search input{
    height: 100%;
    width: 80%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
}

.search svg{
    position: relative;
    top: 17px;
    left: 12px;
}

.nav-bar img{
    width: 165px;
    margin-top: 10px;
    /* filter: invert(100%); */
    filter: drop-shadow(0px 0px 10px rgb(245, 245, 245));
}

.home .homewall{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 80px;
}
.home-sub-section{
    height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 70px;
    margin-left: 5%;
}
.home-sub-section .card{
    height: 270px;
    width: 210px;
    border-radius:10px;
    overflow:hidden;
    /* animation: slide 1s ease-in-out forwards;
    opacity: 0; */
    img{
        /* z-index:-1; */
    }
}
.card:nth-child(3){
    animation-delay: 4s;
}
.card:nth-child(4){
    animation-delay: 6s;
}
.card:nth-child(5){
    animation-delay: 8s;
}

@keyframes slide{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }
    to{
        /* transform: translateY(0); */
        opacity: 1;
    }
}
.back-card{
    width:210px;
    height:50%;
    background-color: #367eba59;
    /* border:solid; */
    /* z-index:100; */
    position: absolute;
    top: 135px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
.card:hover{
    .back-card{
        display: block;
        z-index: 100;
        transition: all 0.5s each-in-out;
    }
}

/* movie section starts */
.movie{
    height: 100vh;
    width:90%;
    background: radial-gradient(circle farthest-corner at 100% 110%, #102a43,#0260b8);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.151);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.movie{
    height: 70vh;
    width: 100%;
    /* border: solid lavender; */
    background: linear-gradient(220deg, #070F6B, #1B1A55,#535C91);
}

.movie.nav-bar{
    height: 120px;
    width: 100%;
    /* background-color: #1B1A55; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px #1B1A56;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #6e6e6e28;
    backdrop-filter: blur(3px);
}



